# Ignore everything
*

# But unignore all .tf files
!*.tf

# And unignore the .gitignore file itself, so it can be committed
!.gitignore

# Also unignore files within the root .git directory
# Note: Git performance issues can occur if a parent directory is excluded and a child re-included
# which is generally why git doesn't recommend this pattern for directories you want to entirely re-include
!.git/